// app global css in SCSS form

.background {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.spinner-container {
  height: 100vh;
}

.text-container-height {
  height: 100px;
}

.link {
  cursor: pointer;
}
